{% extends 'base_page2.html' %}

{% block content %}
    <h1 class="">{% block title %} Reference Interval Results {% endblock %}</h1>
    
	<h3 class="">Selected Pathway: {{ selected_column }}</h3>
    {% for item in refiner_result %}
		<p class=""> {{ item }} </p>
	{% endfor %}
	
<form action="{{ url_for('refiner_output_pdf') }}" method="POST" target="_blank">
	<input type="hidden" name="selected_column" value="{{ selected_column }}">
	<input type="hidden" name="refiner_result" value="{{ refiner_result }}">
	<input class="btn btn-info btn-lg p-lg-12 fw-bolder" type="submit" value="PDF">
</form>


<br><br><br>
{% endblock %}
